html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: var(--font-body);
  width: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden !important;
  background-color: var(--background);
}
a,
a:visited,
a:focus,
a:active {
  text-decoration: none;
}
link {
  text-decoration: none !important;
}
