@use '../util/' as * ;
.main {
  width: 40%;
  margin-top: 50px;
  @include breakpoint-down(small){
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  &__title {
    color: white;
    &--small {
      font-size: 28px;
      color: var(--primary);
      margin-bottom: 5px;
    }
    &--main {
      color: white;
      font-size: 46px;
      font-weight: 500;
      margin-bottom: 2px;
    }
    &--subtitle {
      color: white;
      font-weight: 400;
      margin-bottom: 25px;
    }
  }
  &__text {
    font-size: 20px;
    color: white;
    font-weight: 300;
    margin-bottom: 40px;
  }
  &__buttons {
    display: flex;
    justify-content: space-around;
    @include breakpoint-down(small){
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
