@use '../util' as *;

.nav {
  display: flex;
  align-items: center;
  color: white;
  padding: 20px 0;
  justify-content: space-between;
  font-size: 20px;
  transition: 300ms ease-in height;
  @include breakpoint-down(medium) {
    flex-direction: column;
    height: 20px;
    overflow: hidden;
    margin-bottom: 50px;
  }
  &--open {
    height: 250px;
  }
  &__icon {
    display: none;
    @include breakpoint-down(medium) {
      cursor: pointer;
      display: block;
      align-self: flex-start;
      margin-left: 10px;
      img {
        transform: scale(1.5);
      }
    }
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__lang {
    position: relative;
    margin-right: 170px;
    @include breakpoint-down(medium) {
      display: none;
    }
    &--selected {
      display: flex;
      cursor: pointer;
      align-items: center;
      padding: 20px;
      &--close {
        opacity: 0;
      }
    }
    &--img {
      height: 25px;
      width: 35px;
      margin-right: 10px;
    }
    &--text {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__lang-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    padding: 20px;
    margin: 0;
    overflow: hidden;
    height: 0px;
    border-radius: 5px;
    background-color: #10121c;
    &--close {
      height: 0;
      padding: 0;
    }
  }
  &__lang-list-item {
    cursor: pointer;
    display: flex;
    margin-bottom: 10px;
  }

  &__items {
    display: flex;
    align-items: center;
    list-style: none;
    @include breakpoint-down(medium) {
      flex-direction: column;
    }
  }
  &__item {
    margin-right: 50px;
    cursor: pointer;
    @include breakpoint-down(medium) {
      margin-top: 10px;
    }
    &:hover {
      color: var(--secondary);
    }
    &--active {
      color: var(--secondary);
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }
}
