@use '../util/' as *;
.phone {
  &__img {
    position: absolute;
    z-index: 10;
    width: 80%;
    top: 120px;
    right: 10px;
    @include breakpoint-down(small) {
      display: none;
    }
    img {
      width: 100%;
    }
  }
}
